@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;;
}

header {

    background-color: rgb(80, 143, 164);
    height: 50px;
}

nav {
    /* border: 2px dotted black; */
    /* width: min-content; */
    height: inherit;
    display: flex;
    /* justify-content: start, ; */
    align-items: center;
}

nav>a {
    text-decoration: none;
    color: rgb(120, 5, 5);
    padding: 0 30px;
    font-size: 20px;

}

.about_us {
    display: flex;
    justify-content: center;
}

.about_us img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: top;

}

.about_us-description {
    display: flex;
    flex-direction: column;
}
.about_us-description * {
    padding: 5px;

}

.my_game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    margin: 0px auto;

}
.my_game >* {
    text-align: center;
}
.my_game input, .my_game button {
    border: none;
    margin: 5px;
    min-height: 30px;
    }
.my_game button{
   width: max-content;
   background-color: aquamarine;
   padding: 0 10px;
   border-radius: 5px;
}
.my_game input{
    background-color: lightgray;
    outline: none;
}

.choosed_block {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.choosed_block-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    max-width: 650px;
}

.choosed_block-container > div {
    width: 150px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgoldenrod;
}

.choosed_element {
    border: 3px solid black;
}



















img {
    width: 500px;
    margin: 10px 150px;
}

Span {
    font-size: 15px;
}

.name {
    color: red;
}

#skill {
    color: green
}

h1 {
    padding: 0;
    margin: 30px;
    text-align: center;

}

h2 {
    text-align: center;
}

.posts_block {
    max-width: 600px;
    margin: 20px auto;
}
.posts_block h2 {
    text-align: center;
}
.posts_block-container > * {
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    background-color: lightcyan;
}